*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('774ebd39cf6673fa02200f53f19d2d2c.gif');
    background-size: cover;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.container h1{
    letter-spacing: 20px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 4.5rem;
}

.container img{
    position: absolute;
    top: 0;
    height: 100px;  
    width: 400px;
}

#playground{
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    background-color: rgba(0, 0, 0, 0.313);
    min-height: 70vh;
    width: 70vw;
}

.head{
    height: 30px;
    width: 30px;
    background: linear-gradient(gray, rgb(220, 220, 118));
    border: black solid 1px;
    border-radius: 50px;
}

#score{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    color: aliceblue;
    font-size: 2.5rem;
    text-transform: uppercase;
    /* letter-spacing: 10px; */
    font-family: "adobe-garamond-pro", serif;
    font-weight: bolder;
    font-style: normal;
}

.body{
    height: 30px;
    width: 30px;
    background: linear-gradient(blue,rgb(197, 110, 110));
    border: blue solid 1px;
    border-radius: 120px;
}

.food{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: linear-gradient(red, yellow);
}